<nav>
  <ul>
    <li><a href="/" <%= (currentPage === 'home') ? 'class="active"' : '' %>><i class="fas fa-home"></i> Home</a></li>
    <li><a href="/introduction" <%= (currentPage === 'introduction') ? 'class="active"' : '' %>><i class="fas fa-info-circle"></i> Introduction</a></li>
    <li><a href="/guidance" <%= (currentPage === 'guidance') ? 'class="active"' : '' %>><i class="fas fa-exclamation-triangle"></i> Guidance</a></li>
    <li><a href="/privacy-act" <%= (currentPage === 'privacy-act') ? 'class="active"' : '' %>><i class="fas fa-gavel"></i> Privacy Act</a></li>
    <li><a href="/gdpr" <%= (currentPage === 'gdpr') ? 'class="active"' : '' %>><i class="fas fa-globe-europe"></i> GDPR</a></li>
  </ul>
</nav>